[run]
omit =
    */tests*
    */migrations/*
    *__init__.py*
    */settings/*
    *wsgi.py*
    *admin.py*
    *apps.py*
    */site-packages/*
    */virtualenv*

[report]
omit =
    */tests*
    */migrations/*
    *__init__.py*
    */settings*
    *urls.py*
    *wsgi.py*
    *admin.py*
    *apps.py*
    */site-packages/*
    */virtualenv*
exclude_lines =
    pragma: no cover
    import
    from
    def __str__(self)
